---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>Sobre mí</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
    	Combino la creación de prototipos electrónicos e IoT con la exploración de Linux, perf y eBPF para el análisis y la optimización de sistemas. Comparto artículos y proyectos en <a href='https://felipebetancur-blog.netlify.app/' target='_blank' class="underline">felipebetancur-blog</a>.
	</p>
	<p class =''>
		Documento de forma clara y detallada usando LaTeX y en creo blogs modernos y responsivos con Astro, facilitando la difusión de conocimiento técnico y la colaboración en proyectos innovadores.
	</p>

	</div>
</div>


