---
import BaseHead from './components/BaseHead.astro';
import Header from './components/Header.astro';
import Footer from './components/Footer.astro';

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body
		class="bg-theme-bg text-theme-text dark:bg-dark-bg dark:text-zinc-100"
    background-color
	>
		<Header/>
		<div class='py-8 min-h-[calc(100vh-160px)] pt-20'>
			<slot />
		</div>
		<Footer />
	</body>
</html>
